@import '../../../scss_variables';

.dashboard {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  row-gap: 2rem;
  column-gap: 2rem;
  margin: 0 auto;

  .link-card {
    min-height: 22rem;
    max-width: 28rem;
  }

  


  .card {
    background-color: $bg-color-secondary;
    height: 100%;
    width: 100%;
    min-width: auto;
    margin: 0 auto;
    text-align: center;
    color: $text-color-secondary;
    box-shadow: 
      0 2px 2px 0 rgb(0 0 0 / 14%),
      0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%);

    .card-content {
      padding: 1rem;
    }

    img {
      width: 100%;
    }

 

   
 
  }

}


@media (max-width: 768px) {
  .dashboard {

    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {

 
  .dashboard {

    grid-template-columns: repeat(1, 1fr);
  }
}