$bg-color-primary: #fbfcff;
$bg-color-secondary: #ffffff;
$bg-color-accent: rgb(13, 71, 161);

$text-color-primary:  #757575;
$text-color-secondary: #212121;
$text-color-accent: rgb(13, 71, 161);

$header-height: 64px;