@import './scss_variables';

//@import '~react-calendar/dist/Calendar.css';

html {
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: normal;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: $bg-color-primary;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, ul  {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h2 {
  margin-top: 1rem;
  font-size: 3rem;
  text-align: center;
}


h3 {
  font-size: 2.3rem;
}

p {
  font-size: 1.5rem;
}

a{
  font-size: 1.5rem;
}

.unwrap {
  white-space: nowrap;
}


.modal {
  display: none;
}

.overlay {
  display: none;
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.60);
  cursor: pointer;
}

.overlay.open {
  display: block;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}



.modal.open {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; 
  width: 50%;
  min-height: 50%;
  background-color: $bg-color-secondary;
  z-index: 1000;
 
  form, .dialog {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .form-header, .dialog-header {
      flex-grow: 1;
     
    }
    .form-main, .dialog-main {
      width: inherit;
      flex-grow: 6;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1.5rem;
      flex-wrap: wrap;
     
    };

    .dialog-main {
      row-gap: 0  !important;
      max-width: 85%;
      border: 2px solid red;
      margin: 0 auto;
      padding: 0.5rem;
      
      .dialog-text {
        text-align: center;
        margin: 1rem 0;
        padding: 0;
        &:last-child {
          color: red;
          font-weight: bold;
        }
      }
    }
    .form-footer, .dialog-footer {
      flex-grow: 3;
      width: inherit;
      display: flex;

      align-items: center;
      justify-content: space-around;
      margin-bottom: 1rem;

    }

    
    .field-wrapper {
      display: flex;
      flex-direction: column;
      width: 90%;
      row-gap: 0.5rem;
    }

    label {
      font-size: 1.5rem;
      color: #9e9e9e;
    }

    input {
      height: 2.5rem;
      border: none;
      outline: none;
      box-shadow: 0px 1px 0px rgba($color: grey, $alpha: 0.4);
    }

    input[data-input = "true"] {
      box-shadow: none;
      transform: scale(1.2);
      margin-top: 0.5rem;
    }

    input::placeholder {
      color: #d1d1d1;
    }

     input:active, input:focus {
      box-shadow: 0px 1px rgba($color: grey, $alpha: 0.9);
    }

    button {
      padding: 1rem 2rem;
      font-family: inherit;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      background-color: rgb(189, 189, 189);
      border: none;
      border-radius: 2px;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
       0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
    }

    button:hover {
      box-shadow: 0px 4px 4px 0 rgb(0 0 0 / 14%),
       0 1px 7px 0 rgb(0 0 0 / 12%),
        0 3px 1px -1px rgb(0 0 0 / 20%);
    }

    .error {
      color: red;

    }
    .react-date-picker__inputGroup {
      padding-left: 0.5rem;
    }

    .react-date-picker__inputGroup__divider {
      padding: 0.1rem;
    }
  }
  
}

.main {
  min-height: calc(100vh - #{$header-height} * 2);
}



.main-content {
  padding-top: 2rem;
  display: grid;
  width: 95%;
  grid-template-columns: 30rem auto;
  margin: 0 auto;
  column-gap: 4rem;

  .aside-nav-list {
    background-color: $bg-color-secondary;
    display: flex;
    flex-direction: column;
    height: inherit;
    list-style: none;
    align-items: center;
    width: inherit;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
     0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 2.5rem;
    row-gap: 0.5rem;
    padding: 1rem 0;
  }


  .aside-item  {

    a {
      display: block;
      height: 64px;
      line-height: 64px;
      text-decoration: none;
      color: #757575;
      padding: 0 1.5rem;
  
    }

     a:hover, &.active a {
      background-color: rgba(0, 0, 0, 0.1);
    }
    
  }

  .aside-item {
   width: 100%;
   text-align: center;
  }
}



@media (max-width: 1024px) {
.modal.open {
  width: 70%;
  min-height: 60%;
}

.main-content {
  .aside-nav-list {
    row-gap: 0;
  }
}
}



@media (max-width: 768px) {
  .modal.open {
    width: 80%;

  }

  .main-content {
    grid-template-columns: 100%;
    .aside {
      display: none;
    }
  }

  
}

@media (max-width: 600px) {
  .modal.open {
    form {
      .form-footer {
        flex-direction: column;
        justify-content: space-between;
      }

      button:not(.react-date-picker__button) {
        padding: 0.5rem 1rem;
        width: 20rem;
      }
    }
  }

  .main-content {
    width: 90%;
  }
  
}